
/* TIMELINE WRAPPER */
.timeline{
    position:relative;
    margin-top:20px;
    padding-left:20px;
}

/* LEFT LINE */
.timeline::before{
    content:'';
    position:absolute;
    left:10px;
    top:0;
    bottom:0;
    width:2px;
    background:rgba(255,255,255,0.2);
}

/* EACH ITEM */
.timeline-item{
    position:relative;
    margin-bottom:15px;
    padding:15px 15px 15px 25px;
    border-radius:15px;
    transition:0.3s;
}

.timeline-item:hover{
    transform:translateX(5px);
}

/* DOT */
.dot{
    position:absolute;
    left:-6px;
    top:18px;
    width:12px;
    height:12px;
    background:white;
    border-radius:50%;
    box-shadow:0 0 10px rgba(255,255,255,0.5);
}

/* TEXT */
.timeline-item h3{
    font-size:15px;
    margin-bottom:5px;
}

.timeline-item small{
    opacity:0.7;
    font-size:12px;
}